h1 {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

.container-fluid {
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.right {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

@media (max-width: 375px) {
  .container-fluid{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
  }
}

@media (max-width: 375px) {
  .right {
    margin-right: 0px;
  }
}

@media (max-width: 375px) {
  .left {
    margin-left: 0px;
  }
}