.container-fluid{
  display: flex;
  justify-content: center;
  height: 700px;
  width: 100%;
  background-image: url(src\assets\banner.png);
  background-size: 100% 100%;
  position: relative;
}

/*Estilo de la foto de perfil*/

@media (min-width: 576px) {
  #fotodeperfil {
    position: absolute;
    height: 55%;
    width: 17%;
    border-radius: 50%;
    left: 40%;
    top: 320px;
  }
}

@media (max-width: 575px) {
  #fotodeperfil {
    position: absolute;
    height: 40%;
    border-radius: 50%;
    left: 30%;
    top: 420px;
  }
}
