<div class="container-fluid">
  <a> <img src="../../../assets/ArgPRO.png" alt="Logo Argentina Programa" class="img-fluid" id="ArgPro"></a>
          <div class="redes">
            <a href="https://ar.linkedin.com/in/1vish"><img src="../../../assets/linkedin.png" id="redes" alt="Linkedin"></a>
            <a href="https://twitter.com/okvish"><img src="../../../assets/twitter.png" id="redes" alt="Twitter"></a>
            <a href="https://www.instagram.com/okvish/?hl=es-la"><img src="../../../assets/instagram.png" id="redes"alt="Instagram"></a>
            <a href="https://github.com/OkVish"><img src="../../../assets/github.png" id="redes" alt="Github"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
            <button type="button" class="btn btn-outline-light">CERRAR SESION</button>
          </div>
</div>     