<div class="container-fluid">
  <img src="../../../assets/ArgPRO.png" alt="Logo Argentina Programa" class="img-fluid" id="ArgPro">
  </div>     
  
  <div alt="Links" id="redes">
    <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href=""><img src="../../../assets/twitter.png" id="twitter"></a>
    <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href=""><img src="../../../assets/github.png" id="github"></a>
    <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
  </div>